@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #111;
  --Interactive-color: #1D2E62;
  --border-color: #304384;
  --solid-color: #5472E4;
  --text-color: #5472E4;
}

